{% extends 'base.html.twig' %}
{% block title %}My cool app{% endblock %}

{% block body %}

 <div class="row">         
    <div class="col-md-3"><a href="/lucky/calendar/{{month-1}}/{{year}}"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>  PREVIOUS MONTH </a></div>
    <div class="col-md-3"><a href="/lucky/calendar">Current month <span class="glyphicon glyphicon-home" aria-hidden="true"></span> </a></div>
    <div class="col-md-3"><a href="/lucky/calendar/{{month+1}}/{{year}}"> NEXT MONTH <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></div>
 </div>
           

<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="7" class="center">
{#                                    Mois {{ month }}- Annee{{ year}} - Day {{day}}#}
                                    
{#                                    {{date_asked|date("m/d/Y")}}#}
				</th>
			</tr>
                        <tr>
{#                            date from param : {{ date_asked }}#}
                        </tr>
			<tr>
				<th width="12%">Sunday</th>
				<th width="15%">Monday</th>
				<th width="15%">Tuesday</th>
				<th width="16%">Wednesday</th>
				<th width="15%">Thursday</th>
				<th width="15%">Friday</th>
				<th width="12%">Saturday</th>
			</tr>
		</thead>
		<tbody>
			<tr>
{#			{% set daysInMonth = date_asked |date('t') %}#}
{#                        {{date_asked}} => Number of days in month#}
{#                        {% set month_asked = {{ month }} %}#}
{#                        {% set daysInMonth = month_asked|date('t') %}#}
			{% set startDow = date_asked['first_day'] | date('w') %}
{#                        Nb jour {{date('D', date_asked)}}#}
{#                        date demandée {{date_asked}} et jour debut {{date_asked |date('F 1\\s\\t Y')}}#}
                          premier jour du {{date_asked['first_day']}} mois date demandé {{date_asked['date_asked']}}
			{% set dow = startDow %}
			
                        {% for day in range(1,nb_days) %}
				{% if loop.first and startDow != 0 %}
					<td colspan="{{ startDow }}"></td>
				{% endif %}
				<td>
					<div>
						<div>{{ day }}</div>
						<div>
						 {# day content here #}
                                                  {{ include('AppBundle:lucky:day.html.twig', { 'day': day }) }}
						</div>
					</div>
				</td>
				{% if loop.last and dow != 6 %}
					<td colspan="{{ 6 - dow }}">&nbsp;</td>
				{% endif %}
				{% if dow == 6 %}
					{% set dow = 0 %}
				</tr>
				<tr>
				{% else %}
					{% set dow = dow + 1 %}
				{% endif %}
			{% endfor %}
			</tr>
		</tbody>
</table>
{% endblock %}