{# empty Twig template #}
<h3>{{ day }}</h3>

 
<p class="p_day" >
   
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
{#    <img src="<?php echo $view['assets']->getUrl('images/Emotes-face-angel-icon.png') ?>" />#}
    {% if day % 2 ==0 %}
    <img src="{{ absolute_url(asset('images/smiley_2.png')) }}" alt="heureux !!"    id="smiley_{{day}}"/> 
    <input type="hidden" name="smiley_{{day}}" value=""  id="value_smiley_{{day}}" >
    {% else %}
        <img src="{{ absolute_url(asset('images/smiley_1.png')) }}" alt="heureux !!"  id="smiley_{{day}}"  /> 
        <input type="hidden" name="smiley_{{day}}" value=""  id="value_smiley_{{day}}">
    {% endif %}
</p>
{#<button id="btn_mood_{{day}}" class="btn btn-primary">My mood</button>#}
  