{% extends 'base.html.twig' %}
{% block body %}
<!doctype html>
<html> 
<head>
     {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
</head>
<body>
     {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
<h1>Your lucky number is {{ number }}</h1>
{% for i in 1..10 %}
    <div class="{{ cycle(['even', 'odd'], i) }}">
        <b> some HTML here from src/AppBundle/Resources/views/lucky </b>
    </div>
{% endfor %}
<img src="{{ absolute_url(asset('images/apple-touch-icon.png')) }}" alt="Symfony!" />   
</body>
<html>
    {% endblock %}