{% extends 'base.html.twig' %}
{% block body %}
<!doctype html>
<html> 
<head>
     {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
</head>
<body  onload="call_draw()">
     {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
           
        {% endblock %}
<h1>Your lucky number is {{ number }}</h1>
<canvas id="dessin" width="640" height="180"> 
    votre nav supporte pas le canvas
</canvas>
<canvas id="canvas_luc" width="600" height="20"> 
    votre nav supporte pas le canvas
</canvas>
<div id="compositingSelect">
</div>
{% for i in 1..10 %}
    <div class="{{ cycle(['even', 'odd'], i) }}">
        <b> some HTML here from src/AppBundle/Resources/views/lucky </b>
    </div>
{% endfor %}
<img src="{{ absolute_url(asset('images/apple-touch-icon.png')) }}" alt="Symfony!" /> 
<div class="container">
      <button id="btnTest" class="btn btn-default">Show Modal</button>
      <div id="myModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" class="close">&times;</button>
              <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
              <p>Quick Brown Fox Jumps Over The Lazy Dog</p>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
<html>
    {% endblock %}